* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
}

header {
  left: 0;
  right: 0;
  box-shadow: -1px 2px 2px -2px grey;
  background-color: #fff;
  z-index: 999;
}
header .container .logo {
  width: 150px;
}
@media (min-width: 992px) {
  header .container .icon {
    display: none;
  }
}
header .container a {
  font-size: 14px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
header .container a:hover {
  color: #F18120 !important;
}
@media (max-width: 991px) {
  header .container ul {
    position: absolute;
    flex-direction: column;
    margin: auto !important;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 80px;
    left: -1000px;
    padding: 20px !important;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
  header .container ul li {
    margin: 0 !important;
    margin-bottom: 10px !important;
  }
  header .container ul li a, header .container ul li i {
    color: #fff !important;
  }
}

.landing {
  top: 84.25px;
}
.landing .container-fluid {
  height: calc(100vh - 84.25px);
}

.services {
  padding-top: 120px;
  padding-bottom: 80px;
}
.services .container .box img {
  width: 100px;
}

.partners {
  padding-bottom: 80px;
}

.places {
  padding-bottom: 80px;
}
.places .box {
  height: 330px;
  background-position: center;
  background-size: cover;
}
.places .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.places .one {
  background-image: url(../images/place-1.jpg);
}
.places .two {
  background-image: url(../images/place-2.jpg);
}
.places .three {
  background-image: url(../images/place-3.jpg);
}

.testimonials {
  padding-bottom: 80px;
}
.testimonials .container .text {
  height: 230px;
  background-color: gray;
}
.testimonials .container .text::before {
  content: "";
  position: absolute;
  bottom: 0;
  border-width: 20px;
  border-style: solid;
  border-color: #fff;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.testimonials .container .text.main {
  background-color: #F18120;
}
.testimonials .container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.features {
  padding-bottom: 80px;
}

.join {
  background-image: url(../images/footer-image.jpg);
  background-position: center;
  background-size: cover;
}
.join::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.join a {
  background-color: #F18120;
}

footer {
  padding-top: 80px;
  padding-bottom: 40px;
}
footer img {
  width: 100px;
}
footer ul li a {
  font-size: 15px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
footer ul li a:hover {
  color: #F18120 !important;
}
footer ul li::before {
  content: "\f061";
  color: var(--main-color);
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  margin-right: 10px;
  font-size: 10px;
}
footer .mail {
  color: #F18120;
}
footer .copy {
  font-size: 11px;
}
footer .copy i {
  color: #F18120;
}

.main-content {
  text-align: center;
  margin-bottom: 50px;
}
.main-content p {
  color: gray;
}

.chat {
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  width: 40px;
}

.to-top {
  bottom: 20px;
  left: -200px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #F18120;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
@media (max-width: 991px) {
  .to-top {
    display: none !important;
  }
}

.active {
  left: 0 !important;
}

.show {
  left: 20px !important;
}/*# sourceMappingURL=main.css.map */